<% content_for :title do %>iLab<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lmaobot" data-view="Octoprint" data-title="lmaobot"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="omgbot" data-view="Octoprint" data-title="omgbot"></div>
    </li>
    <li data-unordered="true" data-row="1" data-col="1" data-sizex="2" data-sizey="2">
        <div data-unordered="true" data-id="my-trello-board" data-view="List" data-title="Trello In Progress"></div>
          <i class="icon-trello icon-background"></i>
    </li>
  </ul>
</div>
