<% content_for :title do %>iLab<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="roflbot" data-view="Octoprint" data-title="roflbot"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="omgbot" data-view="Octoprint" data-title="omgbot"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lmaobot" data-view="Octoprint" data-title="lmaobot"></div>
    </li>
  </ul>
</div>
